# Servidor Backend
PORT=4020
NODE_ENV=development

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5438
DB_USER=hotel_admin
DB_PASSWORD=hotel_secret_2026
DB_NAME=hotel_peru_db

# Seguridad JWT
JWT_SECRET=valetec_hotel_peru_jwt_secret_key_2026_secure
JWT_EXPIRES_IN=24h

# Zona Horaria
TIMEZONE=America/Lima

# Configuración CORS y Dominios Permitidos (Separados por coma si son varios)
CORS_ORIGIN=https://hotelprueba.valetec.pe
ALLOWED_ORIGINS=https://hotelprueba.valetec.pe
FRONTEND_URL=https://hotelprueba.valetec.pe
